.container {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  border: 1px solid #000dff;
  display: flex;
  font-weight: 700;
  font-size: 50px;
  line-height: 136%;
  letter-spacing: 0;
  margin-left: 56px;
}

.firstWorld {
  color: var(--color-white);
}

.secondWorld {
  color: var(--color-pink);
}

.btnText {
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0;
}
