.container {
  border: 3px solid green;
  display: flex;
  flex-direction: column;

  &.mobileOpen {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  @media (min-width: 769px) {
    gap: 20px;
  }
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: 769px) {
    padding: 0 36px;
    width: 100%;
  }
}

.title {
  display: flex;
  font-weight: 700;
  font-size: 32px;
  line-height: 136%;
  letter-spacing: 0;
  margin-top: 25px;
  padding: 0 20px;

  @media (min-width: 769px) {
    font-size: 50px;
  }
}

.firstWorld {
  color: var(--color-white);
}

.secondWorld {
  color: var(--color-pink);
}

.burger {
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 20px;

  @media (min-width: 769px) {
      display: none;
  }

  span {
    display: block;
    height: 3px;
    background-color: var(--color-white);
    border-radius: 2px;
  }
}

.grayLine {
  width: 100%;
  height: 1px;
  background-color: var(--color-dark);

  @media (min-width: 769px) {
    display: none;
  }
}

.desktopMenu {
  display: none;

  @media (min-width: 769px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .tabs {
    display: flex;
    gap: 40px;
    font-weight: 500;
    font-size: 18px;
    color: var(--color-gray);
    align-items: center;
  }

  .tab {
    cursor: pointer;
  }
}

.desktopButtonWrapper {
  display: none;

  @media (min-width: 769px) {
    display: block;
  }
}

.mobileDropdown {
  height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto;
  border: 1px solid red;
  margin-bottom: 50px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;


  @media (min-width: 769px) {
    display: none;
  }

  .tabsWrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .mobileTab {
    font-size: 18px;
    font-weight: 500;
    color: var(--color-gray);
    cursor: pointer;

    &:hover {
      color: var(--color-pink);
    }

  }

  .activeTab {
    color: var(--color-pink);
  }
}


.mobileButtonWrapper {
  display: block;
  margin-top: auto;
  bottom: 0;
  //width: 100%;
  padding-bottom: 40px;
  @media (min-width: 769px) {
    display: none;
  }
}





