.headerLayout {
  position: relative;
  margin: 0 auto;
}

.navbar {
  height: var(--navbar-height);
  padding: 25px 24px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 200;
}

.title {
  border: 1px solid red;
  display: flex;
  font-weight: 700;
  font-size: 32px;
  line-height: 136%;
  letter-spacing: 0;
  padding: 0 20px;

  @media (min-width: 769px) {
    font-size: 50px;
  }
}

.firstWorld {
  color: var(--color-white);
}

.secondWorld {
  color: var(--color-pink);
}

.tab {
  cursor: pointer;
  color: var(--color-gray);

  &:hover {
    color: var(--color-pink);
  }
}

.logo a {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
}

.desktopNav {
  display: flex;
  align-items: center;
  border: 1px solid red;
  gap: 50px;

  .desktopNavContent {
    border: 1px solid red;
    display: flex;
    align-items: center;

    .desktopNavLinks{
      display: flex;
      align-items: center;
      gap: 30px;
    }
  }

  a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
  }
}

.burger {
  display: none;
  flex-direction: column;
  gap: 4px;
  background: none;
  border: none;
  cursor: pointer;

  span {
    width: 24px;
    height: 2px;
    background: #fff;
  }
}

.primaryBtn {
  padding: 8px 16px;
  background: #2563eb;
  border: none;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 90;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}

.mobileMenu {
  position: absolute;
  top: var(--navbar-height);
  right: 0;

  width: 100%;
  height: calc(100vh - var(--navbar-height));

  transform: translateX(100%);
  transition: transform 0.3s ease;

  background: var(--color-black);
  display: flex;
  flex-direction: column;
}

.mobileMenu.open {
  transform: translateX(0);
}

.mobileDropdown {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 24px;
  overflow-y: auto;

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  @media (min-width: 769px) {
    display: none;
  }
}

.tabsWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobileTab {
  font-size: 18px;
  font-weight: 500;
  color: var(--color-gray);
  cursor: pointer;

  &:hover {
    color: var(--color-pink);
  }
}

.activeTab {
  color: var(--color-pink);
}

@media (max-width: 768px) {
  .navbar{
    justify-content: space-between;
  }
  .desktopNav {
    display: none;
  }
  .burger {
    display: flex;
  }
}
