.containerTableOfContents {
  border: 1px solid orange;

  @media (min-width: 769px) {
  }
}

.whiteContainer{
  display: flex;
  flex-direction: column;
  border-radius: 32px;
  background-color: var(--color-white);
  margin: 12px 40px;
  padding: 20px 20px 0 20px;
  gap: 20px;

  @media (min-width: 769px) {
    border-radius: 32px;
    margin: 80px 103px;
    padding: 76px 40px 90px 80px;
    gap: 0;
  }
}
.descriptionOfContainer{
  font-size: 44px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0;

  @media (min-width: 769px) {
    font-size: 80px;
  }
}
.textUndress {
  color: var(--color-black);
}
.textWorks{
  color: var(--color-pink);

}
