.containerTableOfContents {
  border: 1px solid orange;

  @media (min-width: 769px) {
  }
}

.whiteContainer{
  display: flex;
  flex-direction: column;
  border-radius: 32px;
  background-color: var(--color-white);
  margin: 40px 12px;
  padding: 20px 20px 0 20px;
  gap: 20px;

  @media (min-width: 769px) {
    border-radius: 32px;
    margin: 80px 103px;
    padding: 76px 40px 90px 80px;
    gap: 0;
  }
}
.descriptionOfContainer{
  font-size: 44px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0;

  @media (min-width: 769px) {
    font-size: 80px;
  }
}
.textUndress {
  color: var(--color-black);
}
.textWorks{
  color: var(--color-pink);

}

.aboutService {
  color: var(--color-gray);
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0;

  @media (min-width: 769px) {
    font-size: 24px;
  }
}

.iconAndBlueText {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  gap: 22px;
  @media (min-width: 769px) {
    gap: 0;
  }
}

.divIconAndBlueText {
  border: 1px solid red;
  display: flex;
  align-items: center;
}

.blueText {
  color: var(--color-blue);
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0;

  @media (min-width: 769px) {
    font-size: 24px;
  }
}

.allText {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0;
  color: var(--color-gray);

  @media (min-width: 769px) {
    font-size: 20px;
    line-height: 180%;
  }
}

.cloudAndWomenContainer {

}

.pinkContainer {
  border: 1px dashed var(--color-pink);
  border-radius: 17px;
  background-color: var(--color-ligth-pink);
  min-height: 284px;

  @media (min-width: 769px) {
    border-radius: 28px;
    min-height: 472px;
  }
}

.grayLine {
  width: 100%;
  height: 1px;
  background-color: var(--color-ligth-gray);
  margin-top: 40px;
  margin-bottom: 32px;

  @media (min-width: 769px) {
    display: none;
  }
}
