.containerTableOfContents {
  border: 1px solid orange;

  @media (min-width: 769px) {
  }
}

.tabsWrapper {
  display: flex;
  gap: 24px;
  overflow-x: auto;
  padding: 0 16px;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  @media (min-width: 769px) {
    padding: 0 103px;
  }
}

.tab {
  position: relative;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 500;
  color: var(--color-black);
  cursor: pointer;
  padding-bottom: 10px;

  @media (min-width: 769px) {
    padding-bottom: 12px;
    font-size: 18px;
  }
}

.activeTab {
  color: var(--color-pink);

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-pink);
    border-radius: 2px;
  }
}


.whiteContainer{
  display: flex;
  flex-direction: column;
  border-radius: 32px;
  background-color: var(--color-white);
  margin: 40px 12px;
  padding: 20px 20px 0 20px;
  gap: 20px;

  @media (min-width: 769px) {
    border-radius: 32px;
    margin: 80px 103px;
    padding: 76px 40px 90px 80px;
    gap: 0;
  }
}
.descriptionOfContainer{
  font-size: 44px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0;

  @media (min-width: 769px) {
    font-size: 80px;
  }
}
.textUndress {
  color: var(--color-black);
}
.textWorks{
  color: var(--color-pink);

}

.aboutService {
  color: var(--color-gray);
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0;

  @media (min-width: 769px) {
    font-size: 24px;
  }
}

.iconAndBlueText {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  gap: 22px;
  @media (min-width: 769px) {
    gap: 0;
  }
}

.divIconAndBlueText {
  display: flex;
  align-items: center;
}

.blueText {
  color: var(--color-blue);
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0;

  @media (min-width: 769px) {
    font-size: 24px;
  }
}

.allText {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0;
  color: var(--color-gray);

  @media (min-width: 769px) {
    font-size: 20px;
    line-height: 180%;
  }
}



.grayLine {
  width: 100%;
  height: 1px;
  background-color: var(--color-ligth-gray);
  margin-top: 40px;
  margin-bottom: 32px;

  @media (min-width: 769px) {
    display: none;
  }
}

.smallIcon {
  position: relative;
  width: 80px;
  height: 80px;
  flex-shrink: 0;

  @media (min-width: 769px) {
    width: 142px;
    height: 142px;
  }

  img {
    object-fit: contain;
  }
}



.desktopLayout {
  display: block;

  @media (min-width: 769px) {
    display: grid;
    grid-template-columns: 1fr 420px;
    gap: 80px;
    align-items: start;
  }
}

.leftColumn {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.cloudAndWomenContainer{
  position: relative;
  border: 3px solid green;
}


.womenImage {
  position: absolute;
  z-index: 2;

  bottom: -20px;
  right: -10px;




  //position: relative;
  width: 231.54px;
  height: 342px;

  @media (min-width: 769px) {
    width: 384px;
    height: 567px;
    bottom: -200px;
    right: -80px;
  }

  img {
    object-fit: contain;
  }
}

.womenClip {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -20px;          // разрешаем выход только на 20px
  height: 100%;           // высота контейнера
  overflow: hidden;       // ВАЖНО: обрезка
  pointer-events: none;   // чтобы не мешал кликам
}

.pinkContainer {
  padding: 100px 0 100px 0;
  border: 1px dashed var(--color-pink);
  border-radius: 17px;
  background-color: var(--color-ligth-pink);
  //min-height: 284px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  @media (min-width: 769px) {
    border-radius: 28px;
    //min-height: 472px;
  }
}
