.container {

  @media (min-width: 769px) {
  }
}

.blackContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--color-black);
  border-radius: 32px;
  padding: 20px;

  @media (min-width: 769px) {
    border-radius: 50px;
    padding: 120px 142px;
    margin: 0 28px 30px;
  }
}

.header {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;

  @media (min-width: 769px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.title {
  font-weight: 700;
  font-size: 44px;
  line-height: 100%;
  letter-spacing: 0;
  color: var(--color-white);

  @media (min-width: 769px) {
    font-size: 80px;
  }
}

.description {
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0;
  color: var(--color-white);

  @media (min-width: 769px) {
    font-size: 18px;
  }
}

.cardsWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: 769px) {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 40px;
  }
}

.card {
  display: flex;
  flex-direction: column; // мобильная версия: фото сверху
  background-color: #1c1c1c;
  border-radius: 20px;
  padding: 20px;

  @media (min-width: 769px) {
    flex-direction: row; // десктоп: фото слева, текст справа
    align-items: flex-start;
    width: calc(50% - 20px); // 2 карточки в ряд
    padding: 30px;
  }
}

.cardImg {
  margin-bottom: 16px;

  @media (min-width: 769px) {
    margin-bottom: 0;
    margin-right: 20px;
  }

  img {
    border-radius: 12px;
    object-fit: cover;
  }
}

.cardContent {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.cardTitle {
  font-weight: 600;
  font-size: 24px;
  color: var(--color-white);

  @media (min-width: 769px) {
    font-size: 40px;
  }
}
.cardDescription {
  font-weight: 500;
  font-size: 16px;
  color: var(--color-gray);

  @media (min-width: 769px) {
    font-size: 18px;
  }
}

.cardBtn {
  margin-top: 12px;

  @media (min-width: 769px) {
    margin-top: 20px;
  }
}


.btn {

}
