.containerMainScreen {
  display: flex;
  flex-direction: column;
  background-color: var(--color-black);
  border-radius: 32px;
  margin: 28px 12px 40px 12px;

  @media (min-width: 1040px) {
    display: block;
    border-radius: 50px;
    margin: 28px 28px 80px 28px;
  }
}

.textContainer {
  margin: 16px 15% 0;
  text-align: center;

  @media (min-width: 1040px) {
    margin-top: 200px;
  }
}

.titleWrapper {
  order: 2;
  position: relative;
  margin: 50px auto;
  width: 90%;
  max-width: 1091px;
  aspect-ratio: 1091 / 282;

  svg {
    width: 100%;
    height: 100%;
    display: block;
    order: unset;
  }

  @media (min-width: 1200px) {
    width: 1091px;
    height: 282px;
  }
}

.titleWrapper svg {
  display: block;
}

.titleText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  text-align: center;
}

.textRevolut {
  font-weight: 700;
  font-size: 28px;
  color: var(--color-pink);
  line-height: 1;
  letter-spacing: 0;

  @media (min-width: 1040px) {
    font-size: 70px;
  }
  @media (min-width: 1200px) {
    font-size: 100px;
  }
}

.textUndressing {
  color: var(--color-black);
  font-weight: 700;
  font-size: 28px;
  line-height: 1;
  letter-spacing: 0;

  @media (min-width: 1040px) {
    font-size: 70px;
  }
  @media (min-width: 1200px) {
    font-size: 100px;
  }
}

.textAndFotoAndBtn {
  display: flex;
  flex-direction: column;

  @media (min-width: 1040px) {
    flex-direction: row;
    justify-content: space-between;
    margin-top: -100px;
    padding-bottom: 40px;
  }
  @media (min-width: 1200px) {
    padding-bottom: 0;
  }
}

.textAndTextDescription {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 0 16px;
  order: 1;

  @media (min-width: 1040px) {
    max-width: 509px;
    margin-left: 56px;
    margin-top: 180px;
    order: unset;
  }
}

.text {
  color: var(--color-white);
  font-weight: 600;
  font-size: 40px;
  letter-spacing: 0;
  line-height: 130%;
}

.textDescription {
  color: var(--color-gray);
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 150%;
}

.foto {
  order: 3;
  z-index: 1;

  img,
  svg {
    width: 100%;
    height: auto;
  }

  @media (min-width: 1040px) {
    margin-top: -60px;
    width: 100%;
    order: unset;
    min-width: 400px;
  }
  @media (min-width: 1200px) {
    min-width: 550px;
    max-width: 800px;
  }
}

.btn {
  width: 100%;
  margin: 0 auto;
  order: 2;
  padding: 16px 20px 32px;

  @media (min-width: 1040px) {
    margin-right: 55px;
    margin-top: 350px;
    order: unset;
    display: flex;
    justify-content: end;
    padding: 0;
    order: unset;
  }
}

.btnText {
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 100%;
}
