:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-pink: #E459E2;
  --color-ligth-pink: #FDF7FE;
  --color-black: #151516;
  --color-gray: #75767F;
  --color-ligth-gray: #D9D9D9;
  --color-dark: #2A2A2D;
  --color-ultra-dark: #1D1D1E;
  --color-blue: #0E61D9;
  --color-purple: #931B91;
  --color-white: #ffffff;
  --color-container: #F5F5F5;

  --navbar-height: 90px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
}

body {
  /*color: var(--foreground);*/
  /*background: var(--background);*/
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    /*color-scheme: dark;*/
  }
}
